@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.452);
    margin: 5px;
}

body{
    background-image: linear-gradient(to right,#F1DAC4,#A69CAC);
    margin: 0px;
}

h1{
    color: #474973;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.507);
}

h2{
    color: #7d80c7;
}

p{
    text-align: justify;
}

.header{
    height: 100px;
    background-color: white;
    box-shadow: 0px 2px 10px;
}

